<%- include('../partials/header') %>

<h2>Flight Details</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departure</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs %></td>
    </tr>
  </tbody>
</table>

<h3>Tickets</h3>
<ul>
  <% tickets.forEach(ticket => { %>
    <li>Seat: <%= ticket.seat %>, Price: <%= ticket.price %></li>
  <% }); %>
</ul>
<a href="/flights/<%= flight._id %>/new-ticket">New Ticket</a>

<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <input type="text" name="airport" required>
  
  <label>Arrival:</label>
  <input type="date" name="arrival" required>

  <label>Airport Code:</label>
  <select name="code" required>
    <option value="1">AUS</option>
    <option value="2">DFW</option>
    <option value="3">DEN</option>
    <option value="4">LAX</option>
    <option value="5">SAN</option>
  </select>

  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <h3>Destinations:</h3>
  <table>
    <thead>
      <tr>
        <th>Destination</th>
        <th>Arrival</th>
        <th>Airport Code</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival.toLocaleDateString() %></td>
          <td><%= d.code %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>

<%- include('../partials/footer') %>
